---
title: 扫雷
---

<!DOCTYPE html>
<html lang="en">

{% include head.html %}
<link rel="stylesheet" href="./index.css">


<body>
  {% include header.html %}

  <main class="page-content" aria-label="Content">
    <!-- <div class="wrapper"> -->
    <div class="parameterDiv">
      <div style="display: inline-block;">
        宽<input class="inputDiv" id="widthInput" value="500" type="text">px&nbsp;&nbsp;
      </div>
      <div style="display: inline-block;">
        高<input class="inputDiv" id="heightInput" value="500" type="text">px&nbsp;&nbsp;
      </div>
      <div style="display: inline-block;">
        行<input class="inputDiv" id="lineInput" value="20" type="text"> *
      </div>
      <div style="display: inline-block;">
        列<input class="inputDiv" id="columnInput" value="20" type="text">&nbsp;&nbsp;
      </div>
      <div style="display: inline-block;">
        雷<input class="inputDiv" id="numInput" value="10" type="text">
      </div>
      <button class="startGamebut" onclick="newSaolei()">开始游戏</button>
    </div>
    <div class="saoleiDivW">
      <div class="saoleiDiv" id="saoleiDiv"></div>
    </div>
    <script src="saolei_v1.1.0.min.js"></script>
    <script>
      /*
        new Saolei(id, parameter)
        id: 加载扫雷的dom的id
        parameter(选填): {
          line: 行数,
          column: 列数,
          num: 雷的数量,
          width: dom的宽度,
          height: dom的高度,
        }
      */
      newSaolei()
      function newSaolei() {
        new Saolei('#saoleiDiv', {
          line: lineInput.value,
          column: columnInput.value,
          num: numInput.value,
          width: widthInput.value,
          height: heightInput.value,
        })
      }
    </script>
    <!-- </div> -->
  </main>

  <div style="font-size:12px;color:rgba(255, 0, 0, 0.5);">声明：本游戏源码完全由本人独立编写。</div>

  {% include footer.html %}
</body>

</html>