<div class="comments">
  <div class="title">评论留言：</div>
  <div class="textareaDiv">
    <textarea id="publishedInp" rows="3" cols="20"></textarea>
    <div class="butDiv">
      <div class="nicknameDiv">
        昵称：
        <input id="nickname" type="text" placeholder="游客">
      </div>
      <button id="publishedBut">发表评论</button>
    </div>
  </div>
  <div class="commentsDiv" id="commentsDiv">
    <!-- <div class="commentsItem">
      <div class="headPortrait"></div>
      <div class="right">
        <span class="userName">
          游客：
        </span>
        <span class="content">
          评论评论评论评论评论评论评论评论评论评论评论评论评论
        </span>
      </div>
    </div> -->
  </div>
</div>

<script>
  const xhr = new XMLHttpRequest()
  const xhrUrl = 'http://www.kuaidaowanlilai.xyz:23000'

  //发表评论
  let publishedBut = document.querySelector('#publishedBut')
  publishedBut.addEventListener('click', function () {
    let publishedInp = document.querySelector('#publishedInp')
    if (publishedInp.value) {
      xhr.open('post', `${xhrUrl}/published`)
      xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8')
      xhr.send(JSON.stringify({
        username: document.querySelector('#nickname').value,
        blogUrl: window.location.pathname,
        content: publishedInp.value
      }))
      xhr.onreadystatechange = function () {
        if (xhr.readyState === 4 && /^2\d{2}$/.test(xhr.status)) {
          //打印 xhr.responseText 来查看服务端给我们返回的内容
          console.log('发表评论返回信息', xhr.responseText)
          requestData()
          publishedInp.value = ''
        }
      }
    }else {
      console.log('评论内容为空')
    }
  })

  //请求渲染评论
  requestData()
  function requestData() {
    xhr.open('post', `${xhrUrl}/comments`)
    xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8')
    xhr.send(JSON.stringify({
      blogUrl: window.location.pathname
    }))
    xhr.onreadystatechange = function () {
      if (xhr.readyState === 4 && /^2\d{2}$/.test(xhr.status)) {
        //打印 xhr.responseText 来查看服务端给我们返回的内容
        applyColours(JSON.parse(xhr.responseText))
      }
    }
    function applyColours(data) {
      let htmlStr = ''
      for (let i = 0; i < data.length; i++) {
        htmlStr += `
      <div class="commentsItem">
        <div class="headPortrait"></div>
        <div class="right">
          <span class="userName">
            ${data[i].username}：
          </span>
          <span class="content">
            ${data[i].content}
          </span>
        </div>
      </div>`
      }
      document.querySelector('#commentsDiv').innerHTML = htmlStr
    }
  }
</script>
<style>
  .comments {
    width: 100%;
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 0 0 5px rgba(136, 136, 136, 0.2);
    padding: 10px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #333;
  }

  .comments .title {
    color: #444;
    font-size: 18px;
    margin-bottom: 2px;
  }

  .comments .textareaDiv .butDiv {
    text-align: right;
  }

  .comments .textareaDiv textarea {
    border-radius: 3px;
    width: calc(100% - 6px);
    outline: none
  }

  .comments .textareaDiv .butDiv .nicknameDiv {
    font-size: 14px;
    display: inline-block;
  }

  .comments .textareaDiv .butDiv .nicknameDiv input {
    width: 70px;
    border: 1px solid rgb(189, 189, 189);
    outline: none;
    border-radius: 2px;
  }

  .comments .textareaDiv .butDiv button {
    cursor: pointer;
  }

  .comments .commentsDiv {
    margin-top: 5px;
  }

  .comments .commentsDiv .commentsItem {
    font-size: 14px;
    display: flex;
    border-top: 1px solid rgb(240, 240, 240);
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .comments .commentsDiv .commentsItem .headPortrait {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: rgb(191, 226, 250);
    margin-left: 5px;
  }

  .comments .commentsDiv .commentsItem .right {
    width: calc(100% - 35px);
    margin-left: 10px;
  }

  .comments .commentsDiv .commentsItem .right .userName {
    color: #555666;
  }

  .comments .commentsDiv .commentsItem .right .content {
    color: #222226;
  }
</style>