
<style>
  .toTopDiv{
    width: 50px;
    height: 50px;
    background-color: #fff;
    position: fixed;
    right: 20px;
    bottom: 50px;
    cursor: pointer;
    box-shadow: 0 0 5px #888888;
    border-radius: 50%;
    box-sizing: border-box;
    padding: 10px 0 0 10px;
    display: none;
  }
</style>
<div class="toTopDiv" title="回到顶部">
  <svg t="1604044629111" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="1093" width="30" height="30"><path d="M866.7 96H157.3c-17.8 0-32.2 14.4-32.2 32.2 0 17.8 14.4 32.2 32.2 32.2h709.5c17.8 0 32.2-14.4 32.2-32.2 0-17.8-14.4-32.2-32.3-32.2zM512 225c-16.5 0-33 6.3-45.6 18.9L169.9 540.3c-5.8 5.8-9.4 13.9-9.4 22.8s3.6 17 9.4 22.8c5.8 5.8 13.9 9.4 22.8 9.4s17-3.6 22.8-9.4l264.2-264.2v574c0 17.8 14.4 32.2 32.2 32.2 17.8 0 32.2-14.4 32.2-32.2v-574l264.2 264.2c5.8 5.8 13.9 9.4 22.8 9.4s17-3.6 22.8-9.4c5.8-5.8 9.4-13.9 9.4-22.8s-3.6-17-9.4-22.8L557.6 243.9C545 231.3 528.5 225 512 225z" p-id="1094" fill="#707070"></path></svg>
</div>
<script>
  let htmlDiv = document.documentElement
  let toTopDiv = document.querySelector('.toTopDiv')

  document.addEventListener('scroll', () => {
    if(htmlDiv.scrollTop > 1000){
      toTopDiv.style.display = 'block'
    }else{
      toTopDiv.style.display = 'none'
    }
  })

  toTopDiv.addEventListener('click', () => {
    let scrollTop = htmlDiv.scrollTop
    let interval = setInterval(() => {
      htmlDiv.scrollTop -= 100
      if(htmlDiv.scrollTop <= 0){
        clearInterval(interval)
      }
    }, 5)
  })
</script>