<!DOCTYPE html>
<html lang="en">

{% include head.html %}

{% include removeAd.html %}

<body>
  {% include header.html %}

  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      <div class="home">
        <h2 class="post-list-heading">{{ page.title }}</h2>
        <ul class="post-list">
          {% for game in page.list %}
          <li>
            <span class="post-meta">{{ game.date | date: '%b %d, %Y' }}</span>
            <h3>
              <a class="post-link" href="{{ game.url }}">
                {{ game.name }}
              </a>
            </h3>
          </li>
          {% endfor %}
        </ul>
        <p class="bottomLine"> - - - - - - - - - 这 是 我 的 底 线 - - - - - - - - - </p>
      </div>

      <!-- 评论 -->
      {% include comments.html %}

    </div>
  </main>

  {% include footer.html %}
</body>

</html>