<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
  {% include header.html %}

  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      <div class="home">
        <h2 class="post-list-heading">最近发布</h2>
        <ul class="post-list">
          {% for post in site.posts %}
          <li><span class="post-meta">{{ post.date | date: '%b %d, %Y' }}</span>
            <h3>
              <a class="post-link" href="{{ post.url }}">
                {{ post.title }}
              </a>
            </h3>
          </li>
          {% endfor %}
        </ul>
        <p class="rss-subscribe">subscribe <a href="/feed.xml">via RSS</a></p>
      </div>
    </div>
  </main>

  {% include footer.html %}
</body>

</html>